.accordion {
  &[aria-expanded="false"] {
    display: none;
  }

  &-for-small {
    @include breakpoint(small down) {
      &[aria-expanded="false"] {
        display: none;
      }
    }
  }

  &-for-medium {
    @include breakpoint(medium down) {
      &[aria-expanded="false"] {
        display: none;
      }
    }
  }

  &-title {
    margin: 20px 0;

    ~ .accordion-title {
      margin: 50px 0 20px;
    }
  }

  &-toggle {
    display: flex;
    align-items: center;
    padding: 25px 20px;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    cursor: pointer;
    @include no-select;


    &-title {
      margin: 0;
      font-weight: 400;
      flex: 1 1 0;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .open-icon {
      display: block;
    }
    .close-icon {
      display: none;
    }

    &:not(.closed) {
      border-bottom: none;

      .accordion-toggle-title {
        font-weight: 500;
      }

      .open-icon {
        display: none;
      }
      .close-icon {
        display: block;
      }

    }
  }

  &-body {
    padding: 5px 20px 20px;
    border-bottom: 1px solid $color-border;

    + .accordion-toggle {
      border-top: none;
    }

  }
}
