button {
  background: transparent;
  appearance: none;
  border: none;
}

// Button
// -----------------------------------------------------
.button {
  position: relative;
  display: inline-flex;
  @include flex-align(center, middle);
  padding: 12px 26px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0;

  text-align: center;
  font-size: rem-calc(16);
  font-weight: 500;
  text-decoration: none;
  line-height: (20 / 16);
  min-width: 160px;

  @include breakpoint(large) {
    min-width: 210px;
  }

  transition: background 200ms, color 200ms,
    border 200ms, opacity 200ms;

  &:disabled {
    cursor: default;
    opacity: 0.3;
  }

  &.no-hover {
    cursor: default;
  }

  &.has-icon {

    i {
      line-height: 0;
      margin-left: 10px;
      font-size: 16px;
      vertical-align: middle;

      > svg {
        display: block;
        width: 1em;
        height: 1em;
      }
    }

    &.large-icon {
      i {
        font-size: 20px;
      }
    }

  }

  &.has-icon-absolute {
    padding-left: 15px;
    padding-right: 15px;

    @include breakpoint(medium) {
      padding-left: 40px;
      padding-right: 40px;
    }

    i {
      position: absolute;
      left: 18px;
      top: 50%;
      margin: 0;
      transform: translateY(-50%);
    }
  }

  &.js-loading {

    &::before {
      content: '';
      display: block;
      position: absolute;
      border-top: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      right: 4px;
      left:4px;
      bottom: 4px;
      top: 4px;
      animation: loaderIndicator 1000ms infinite linear;
    }
  }
}



// Button Sizes
// -----------------------------------------------------
.button-small {
  padding: 9px 20px;
  font-size: rem-calc(14px);
}

.button-medium {
  padding: 14px 30px;
  font-size: rem-calc(16);
}

.button-large {
  padding: 19px 30px;
  font-size: rem-calc(16);
}

.button-expanded {
  width: 100%;

  @include breakpoint(large) {
    min-width: 100%;
  }
}

// Button Group
// -----------------------------------------------------

@mixin button-group-stacked-styles() {
  .inside {
    width: 100%;
    margin: -4px 0;
  }

  .button {
    width: 100%;
    margin: 4px 0;
  }
}

.button-group {
  &.align-right {
    text-align: right;

    .inside {
      @include flex-align(right);
    }
  }

  &.align-center {
    text-align: center;

    .inside {
      @include flex-align(center);
    }
  }

  .inside {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -4px;
    width: 100%;
  }

  .button {
    margin: 4px;
  }

  &.small-stacked {
    @include breakpoint(small only) {
      @include button-group-stacked-styles();
    }
  }

  &.stacked {
    @include button-group-stacked-styles();
  }
}

// Button Themes
// -----------------------------------------------------
.button-primary {
  background: $darker-grey;
  border-color: $darker-grey;
  color: white;

  &:hover {
    &:not(:disabled):not(.no-hover) {
      background: darken($darker-grey, 10%);
    }
  }
}

.button-secondary {
  background: white;
  border-color: transparent;
  color: $darker-grey;

  &:hover {
    &:not(:disabled):not(.no-hover) {
      background: $darker-grey;
      color: white;
    }
  }
}

.button-grey {
  border-color: transparent;
  background: #F1F1F1;
  color: $darker-grey;

  &:hover {
    &:not(:disabled):not(.no-hover) {
      background: darken(#F1F1F1, 5);
    }
  }

}

.button-hollow {
  background-color: white;
  border-color: $darker-grey;
  color: $darker-grey;

  &:hover {
    &:not(:disabled):not(.no-hover) {
      background-color: $darker-grey;
      color: white;
    }
  }
}
