.full-width-slider {
  position: relative;

  .glide {

    &__arrow {
      border: 0;
      width: 120px;
      height: 100%;
      box-shadow: none;

      @include breakpoint(medium) {
        width: 200px;
      }

      &--left {
        left: 0;
      }
      &--right {
        right: 0;
      }

      &--left svg {
        transform: scaleX(-1);
      }

      svg {
        width: 90px;
        height: 90px;
      }
    }
  }

}
