// Reveal fixes
html {
  &.is-reveal-open {
    overflow-y: auto;
    height: auto;
  }
}

.reveal-overlay {
  overflow-y: auto;
}

.reveal {
  border: none;
  outline: none !important;

  > .close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 9px;
    z-index: 4;
    cursor: pointer;
    line-height: 0;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &.large {
    max-width: 1050px;
  }

  &.padded {
    padding: 40px;
  }
}
