.clearfix {
  @include clearfix;
}

.visually-hidden {
  @include visually-hidden;
}

.js-focus-hidden:focus {
  outline: none;
}

.visually-shown {
  @include visually-shown;
}

// Only show when JS is not supported
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}

.show-for-mobile-navigation {
  @include breakpoint($nav-switch-breakpoint) {
    display: none !important;
  }
}

.hide-for-mobile-navigation {
  @include breakpoint($nav-switch-breakpoint-down) {
    display: none !important;
  }
}

// Only show when JS is supported
.js {
  .no-js & {
    display: none;
  }
}

// Only show when browser cookies are not supported
.supports-no-cookies:not(html) {
  display: none;

  html.supports-no-cookies & {
    display: block;
  }
}

// Only show when browser cookies are supported
.supports-cookies {
  html.supports-no-cookies & {
    display: none;
  }
}

// Skip to content button
// Overrides .visually-hidden when focused
.skip-link:focus {
  @include visually-shown(absolute);
  z-index: 10000;
  background-color: $color-body;
  color: $color-body-text;
  transition: none;
}

// Absolute position link cover
.arrow-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}
.cover-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  z-index: 2;
}

.hover-link {
  position: relative;
  z-index: 1;

  &::before {
    display: block;
    position: absolute;
    content: '';
    z-index: -1;
    left: -10px;
    right: -10px;
    top: 50%;
    height: 6px;
    background-color: $mid-blue;
    transform: translateY(-50%) scaleX(0);
    transition: transform 200ms;
    transform-origin: left;
    opacity: 0.6;
  }

  &:hover {
    &::before {
      transform: translateY(-50%) scaleX(1);
    }
  }
}

.link {
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 6px;
    width: 70px;
    background-color: $mid-blue;
    transform: translateY(-50%) scaleX(1);
    transition: transform 200ms;
    transform-origin: left;
    opacity: 0.6;
  }
}

// Hide outline on focus for elements which are given focus by JS
[tabindex="-1"]:focus {
  outline: none;
}

.hide {
  /* stylelint-disable declaration-no-important */
  display: none !important;
}

.db {
  display: block;
}

.color-secondary-text {
  color: $color-body-secondary-text;
}

.color-primary {
  color: $color-primary;
}

.color-accent {
  color: $color-accent;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extrabold {
  font-weight: 800;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.m {
  &-0 {
    margin: 0;
  }
}

.mt {
  &-0 {
    margin-top: 0;
  }
  &-5 {
    margin-top: 5px;
  }
  &-10 {
    margin-top: 10px;
  }
  &-20 {
    margin-top: 20px;
  }
  &-30 {
    margin-top: 30px;
  }
  &-40 {
    margin-top: 40px;
  }
  &-50 {
    margin-top: 50px;
  }
  &-60 {
    margin-top: 60px;
  }
  &-70 {
    margin-top: 70px;
  }
  &-80 {
    margin-top: 80px;
  }
}

.mb {
  &-0 {
    margin-bottom: 0;
  }
  &-5 {
    margin-bottom: 5px;
  }
  &-10 {
    margin-bottom: 10px;
  }
  &-15 {
    margin-bottom: 15px;
  }
  &-20 {
    margin-bottom: 20px;
  }
  &-30 {
    margin-bottom: 30px;
  }
  &-40 {
    margin-bottom: 40px;
  }
  &-50 {
    margin-bottom: 50px;
  }
  &-60 {
    margin-bottom: 60px;
  }
  &-70 {
    margin-bottom: 70px;
  }
}

.mr {
  &-10 {
    margin-right: 10px;
  }
}

.ml {
  &-10 {
    margin-left: 10px;
  }
}

.m-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}

.mti {
  &-0 {
    margin-top: 0!important;
  }
  &-5 {
    margin-top: 5px!important;
  }
  &-10 {
    margin-top: 10px!important;
  }
  &-20 {
    margin-top: 20px!important;
  }
  &-30 {
    margin-top: 30px!important;
  }
  &-40 {
    margin-top: 40px!important;
  }
  &-50 {
    margin-top: 50px!important;
  }
  &-60 {
    margin-top: 60px!important;
  }
  &-70 {
    margin-top: 70px!important;
  }
  &-80 {
    margin-top: 80px!important;
  }
  &-90 {
    margin-top: 90px!important;
  }
  &-100 {
    margin-top: 100px!important;
  }
  &-150 {
    margin-top: 150px!important;
  }
  &-200 {
    margin-top: 200px!important;
  }
}

.mbi {
  &-0 {
    margin-bottom: 0!important;
  }
  &-5 {
    margin-bottom: 5px!important;
  }
  &-10 {
    margin-bottom: 10px!important;
  }
  &-15 {
    margin-bottom: 15px!important;
  }
  &-20 {
    margin-bottom: 20px!important;
  }
  &-30 {
    margin-bottom: 30px!important;
  }
  &-40 {
    margin-bottom: 40px!important;
  }
  &-50 {
    margin-bottom: 50px!important;
  }
  &-60 {
    margin-bottom: 60px!important;
  }
  &-70 {
    margin-bottom: 70px!important;
  }
  &-80 {
    margin-bottom: 80px!important;
  }
  &-100 {
    margin-bottom: 100px!important;
  }
  &-120 {
    margin-bottom: 120px!important;
  }
}

@media screen and (max-width: 640px) {

  .m-mt {
    &-0 {
      margin-top: 0!important;
    }
    &-5 {
      margin-top: 5px!important;
    }
    &-10 {
      margin-top: 10px!important;
    }
    &-15 {
      margin-top: 15px!important;
    }
    &-20 {
      margin-top: 20px!important;
    }
    &-30 {
      margin-top: 30px!important;
    }
    &-40 {
      margin-top: 40px!important;
    }
    &-50 {
      margin-top: 50px!important;
    }
    &-60 {
      margin-top: 60px!important;
    }
    &-70 {
      margin-top: 70px!important;
    }
    &-80 {
      margin-top: 80px!important;
    }
  }

  .m-mb {
      &-0 {
        margin-bottom: 0!important;
      }
      &-5 {
        margin-bottom: 5px!important;
      }
      &-10 {
        margin-bottom: 10px!important;
      }
      &-15 {
        margin-bottom: 15px!important;
      }
      &-20 {
        margin-bottom: 20px!important;
      }
      &-30 {
        margin-bottom: 30px!important;
      }
      &-40 {
        margin-bottom: 40px!important;
      }
      &-50 {
        margin-bottom: 50px!important;
      }
      &-60 {
        margin-bottom: 60px!important;
      }
      &-70 {
        margin-bottom: 70px!important;
      }
      &-80 {
        margin-bottom: 80px!important;
      }
  }

  .m-h {
    &100 {
      height: 100px!important;
    }
    &200 {
      height: 200px!important;
    }
    &250 {
      height: 250px!important;
    }
    &300 {
      height: 300px!important;
    }
    &400 {
      height: 400px!important;
    }
    &500 {
      height: 500px!important;
    }
    &700 {
      height: 700px!important;
    }
    &800 {
      height: 800px!important;
    }
    &900 {
      height: 900px!important;
    }
  }

}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.section-line {

  position: relative;
  padding: 20px 20px 30px;
  margin-left: auto;
  margin-right: auto;

  &:before {
    content: '';
    display: block;
    height: 100px;
    width: 2px;
    background: #808080;
    margin-left: auto;
    margin-right: auto;
  }

}

.section-line-mobile {

  position: relative;
  padding: 20px 20px 30px;
  margin-left: auto;
  margin-right: auto;

  &:before {
    content: '';
    display: block;
    height: 70px;
    width: 2px;
    background: #808080;
    margin-left: auto;
    margin-right: auto;
  }

}

.review-block__label {
  padding: 0!important;
}

.title-underline {
  width: 40px;
  height: 1.5px;
  background-color: $darker-grey;
  margin: 20px auto 25px auto;
}

@media screen and (max-width: 640px) {
  .title-underline {
    margin-top: 0;
    margin-bottom: 14px;
  }
}