html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: $color-body;
}

body.fixed-scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
}