{% section 'banner' %}

{% section 'about-us-section1' %}

{% comment %} placeholder for middle section {% endcomment %}
<div class="section">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div style="text-align: center; width: 1100px; margin: 40px 10% 20px 10%;">
                <h2>section for core values</h2>
            </div>
        </div>
    </div>
</div>

{% section 'about-us-section2' %}

{% comment %} placeholder for bottom section {% endcomment %}
<div class="section">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div style="text-align: center; width: 1100px; margin: 40px 10% 20px 10%;">
                <h2>section for bottom carousel links</h2>
            </div>
        </div>
    </div>
</div>

