{% assign sale = false %}
{% assign new = false %}
{% assign restocked = false %}
{% assign last_sizes = false %}
{% assign preorder = false %}
{% assign lastchance = false %}

{% if product.compare_at_price_max > product.price %}
    {% assign sale = true %}
{% endif %}

{% for tag in product.tags %}
    {% if tag == 'new'  %}
        {% assign new = true %}
    {% elsif tag == 'restocked' %}
        {% assign restocked = true %}
    {% elsif tag == 'last_sizes' %}
        {% assign last_sizes = true %}
    {% elsif tag == 'preorder' %}
        {% assign preorder = true %}
    {% elsif tag == 'lastchance' %}
        {% assign lastchance = true %}
    {% endif %}
{% endfor %}

<div class="product-stickers">


    {% if limit != 1 %}
        {% if sale %}
            <div class="product-sticker product-sticker__sale">
                <span class="text-small">{{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | round }}% off</span>
            </div>
        {% endif %}
        {% if new %}
            <div class="product-sticker product-sticker__new">
                <span class="text-small">New</span>
            </div>
        {% endif %}
        {% if restocked %}
            <div class="product-sticker product-sticker__restocked">
                <span class="text-small">Restocked</span>
            </div>
        {% endif %}
        {% if last_sizes %}
            <div class="product-sticker product-sticker__last-sizes">
                <span class="text-small">Last Sizes</span>
            </div>
        {% endif %}
        {% if preorder %}
            <div class="product-sticker product-sticker__preorder">
                <span class="text-small">Pre-Order</span>
            </div>
        {% endif %}
    {% else %}
        {% if sale %}
            <div class="product-sticker product-sticker__sale">
                <span class="text-small">{{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | round }}% off</span>
            </div>
        {% elsif new %}
            <div class="product-sticker product-sticker__new">
                <span class="text-small">New</span>
            </div>
        {% elsif restocked %}
            <div class="product-sticker product-sticker__restocked">
                <span class="text-small">Restocked</span>
            </div>
        {% elsif last_sizes %}
            <div class="product-sticker product-sticker__last-sizes">
                <span class="text-small">Last Sizes</span>
            </div>
        {% elsif preorder %}
            <div class="product-sticker product-sticker__last-sizes">
                <span class="text-small">Pre-Order</span>
            </div>
        {% elsif lastchance %}
            <div class="product-sticker product-sticker__last-sizes">
                <span class="text-small">Last Chance</span>
            </div>
        {% endif %}
    {% endif %}


</div>