// Pulse Out
// -----------------------------------------------------
@keyframes pulseOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}


// Button Mixins
// -------------------------
@keyframes loaderIndicator {
  0% {
    transform-origin: left;
    transform: scale(0, 1);
    border-top-color: transparent;
    border-bottom-color: currentColor;
  }
  0.01% {
    border-top-color: transparent;
    border-bottom-color: currentColor;
  }
  24.99% {
    transform: scale(1, 1);
    transform-origin: left;
  }
  25% {
    transform-origin: right;
  }
  49.99% {
    transform: scale(0, 1);
    transform-origin: right;
    border-top-color: transparent;
    border-bottom-color: currentColor;
  }
  50% {
    transform-origin: right;
    transform: scale(0, 1);
    border-top-color: currentColor;
    border-bottom-color: transparent;
  }
  50.01% {
    transform-origin: right;
    border-top-color: currentColor;
    border-bottom-color: transparent;
  }
  74.99% {
    transform-origin: right;
    transform: scale(1, 1);
    border-bottom-color: transparent;
  }
  75% {
    transform-origin: left;
    border-top-color: currentColor;
    border-bottom-color: transparent;
  }
  100% {
    transform: scale(0, 1);
    transform-origin: left;
    border-top-color: currentColor;
    border-bottom-color: transparent;
  }
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}