#sec-header {
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://cdn.shopify.com/s/files/1/0049/9436/7601/t/250/assets/banner.jpg?v=1620808796);
    background-size: cover;
    width: 100%;
    background-position: 50% 75%;
}
section#sec-overlay {
   
    background: rgba(0,0,0,.5);
    height: 40em !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sec-header h1, #sec-header p 
    {
    color: #fff;
}

#smsbump-loyalty {
    width: 90vw;
    height: auto;
	min-height: 800px;
    display: flex;
    margin: 50px auto;
  
}
#smsbump-left-form {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:0;
    position:relative;
  	height: auto;
	max-height: 800px;
}
#smsbump-right-image {
    background-image: url(https://cdn.shopify.com/s/files/1/0049/9436/7601/t/250/assets/frankie-left.jpeg?v=1620806327);
    width: 50vw;
    height: auto;
	max-height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 20px 0px;
    
}
@media only screen and (max-width:1440px) { 
  div#smsbump-left-form::before {
    content: "";
 
    height: 60px !important;

    top: -35% !important;

}
  #smsbump-left-form {
    width: 50vw !important;
    
}

div#smsbump-left-form::after {
    content: "";
  

    
    bottom: -35% !important;

    
}

}
@media only screen and (max-width:1024px) {

  div#smsbump-left-form::before {
    content: "";
 


    top: -40% !important;

}
  #smsbump-left-form {
    width: 50vw !important;
    
}

div#smsbump-left-form::after {
    content: "";
  
    height: 60px !important;
    
    bottom: -40% !important;

    
}
}
@media only screen and (max-width:768px) {
  
	#smsbump-right-image {
    width:50% !important;
    background-position: 38% 8%;
    background-size:cover;
   	display: none;
}
  #smsbump-left-form { 
  	width:50% !important;
  }
  #sec-header {
    height: 20em !important;
  }
}
@media only screen and (max-width:425px) {
#smsbump-loyalty {
	
    height:auto !important;
  	min-height: 400px;
  	margin-bottom: 0;
    justify-content: center !important;
    align-items: center !important;
  	flex-direction:column-reverse !important;
}

#smsbump-left-form {
    width:100% !Important;
    min-height: 60% !important;
    height:50% !Important;
}
  
#smsbump-right-image {
    width: 100%!important;
    height: 600px !important;
    margin: 50px 0 !important;
    margin-bottom: 0 !important;
  	display: none;
}

  div#smsbump-left-form::before {
    content: "";
 


    top: -45% !important;

}

div#smsbump-left-form::after {
    content: "";
  
  
    bottom: -45% !important;

    
}

}