/**
 * Lambify | Built with Slate
 */
@import "~normalize.css/normalize";

// Settings
@import "../settings/variables";
@import "../settings/foundation-settings";

// Tools
@import "../tools/mixins";
@import "../tools/functions";

// Vendor
@import "../vendor/foundation-sites";

// Core
@import "../base/animations";
@import "../base/forms";
@import "../base/helpers";
@import "../base/layout";
@import "../base/media";
@import "../base/responsive-tables";
@import "../base/rte";
@import "../base/section";
@import "../base/typography";

// Components
@import "../components/buttons";

// Snippets
@import "../snippets/social-sharing";


.mh-100 {
  min-height: 100%;
}

.container-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}

#login-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.button-cancel {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 18px;
  cursor: pointer;

  svg {
    width: 1em;
    height: 1em;
  }
}
