{% unless settings.promo_content == blank %}
  <div data-autoload-class="PromoBannerSection" class="section-banner-promo">
        <div class="slider">
          <div data-glide-el="track" class="glide__track">
              <div class="glide__slides">
                <div class="glide__slide" style="position: relative">
                  <div class="promo-strip text-small text-center" style="overflow:auto">
                    {{settings.promo_content}}
                  </div>
                </div>
                {% unless settings.promo_content2 == blank %}
                <div class="glide__slide" style="position: relative">
                  <div class="promo-strip text-small text-center" style="overflow:auto">
                    {{settings.promo_content2}}
                  </div>
                </div>
                {% endunless %}
                {% unless settings.promo_content3 == blank %}
                <div class="glide__slide" style="position: relative">
                  <div class="promo-strip text-small text-center" style="overflow:auto">
                    {{settings.promo_content3}}
                  </div>
                </div>
                {% endunless %}
              </div>
          </div>
      </div>
  </div>
{% endunless %}
