<div data-autoload-class="SearchAutocompleteSnippet" class="search-autocomplete">
    <form class="search-autocomplete-view" action="/search" method="get" role="search" data-old-value="{{search.terms | escape}}"></form>
</div>
