<section id="sec-header">
  <section id="sec-overlay">
    <div class="text-center landing-text section-about-us-page-group">
      <h1>Become a VIP</h1>
      <p>JOIN OUR TEXT MARKETING NEWSLETTER</p>
    </div>
  </section>  
</section>
<section id="smsbump-loyalty">
  <div id="smsbump-right-image"></div>
  <div id ="smsbump-left-form">{% include 'smsbump_subscription_form_embed_41964' %}</div>
  

</section>  