.section-collection {
  .load-more-group {
    margin-top: 50px;
  }
}

#collection-load-more-button {
  cursor: pointer;
}

.collection-header {
  margin-top: map-get($grid-margin-gutters, small);
  margin-bottom: map-get($grid-margin-gutters, small);
  @include breakpoint(medium) {
    margin-top: map-get($grid-margin-gutters, medium);
    margin-bottom: map-get($grid-margin-gutters, medium);
  }
}

.collection-banner {
  padding: 20px;
  width: 100%;
  min-height: 150px;
  background-color: $color-primary;
  color: #fff;
  position: relative;
  background-size: cover;
  background-position: center;

  @include breakpoint(medium) {
    min-height: 340px;
    padding: 0 90px;
  }

  &:not(.has-overlay) {
    .collection-banner-overlay {
      display: none;
    }
  }

  &-text {
    position: relative;
    min-height: 150px;

    @include breakpoint(medium) {
      min-height: 340px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  &-overlay {
    position: absolute;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
  }
}

.collection-toolbar {

  #bc-sf-filter-top-sorting-select {
    position: relative;
    padding: 15px 40px 15px 20px;
    outline: none;
    border: none;
    //background: transparent;
    cursor: pointer;
    color: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    z-index: 1;
    font-size: rem-calc(16);

    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, $color-body-text 50%), linear-gradient(135deg, $color-body-text 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 10px), calc(100% - 15px) calc(1em + 10px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;

  }

  .select-wrap {
    border: 0;

    select {
      font-weight: bold;
      line-height: 1.5em;
    }
  }

  &__sort {

    &-label {
      white-space: nowrap;
    }

  }
}

#bc-sf-filter-bottom-pagination {
  .pagination-custom {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;

    li {
      padding: 10px;
    }

  }
}


#bc-sf-filter-tree-h {
  //display: flex;
  //justify-content: center;
  text-align: center;
  margin: 20px 0;

  .bc-sf-filter-block-content {
    text-align: left;
  }

  .bc-sf-filter-option-block .bc-sf-filter-block-title a {
    border-width: 0 0 1px 0 !important;
  }
}

.bc-sf-filter-toolbar-count {
  text-align: center;
}

// BC SF Filter Mobile
#bc-sf-filter-tree-mobile button {
  padding: 15px 10px;
  font-weight: bold;
}
.bc-sf-filter-mobile-toolbar-header {
  background: #FFFFFF;
  border: 0;
  text-align: left;
  padding: 25px 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: none;
}
.bc-sf-filter-tree-mobile-full-width#bc-sf-filter-tree .bc-sf-filter-option-block {
  text-align: left;
}

.collection-description {
  text-align: center;

  p {
    font-size: rem-calc(16);
  }
}

.collection-products.primary-only > div:not(.primary) {
  display: none;
}

.seo_div {
  margin: 40px 0 15px 0;
}

.seo_text {
  margin: 0;
}

.seo_text p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.seo_text a {
  color: #80878a;
  transition: 0.3s ease all;
}

.seo_text a:hover {
  color: #272b2c;
}

.seo_text strong {
  color: #000000;
}