.section-contact-form {

  .contact-form-container {
    background: $color-secondary;
    padding: 40px 20px;
  }

  .form-container {

    form {
      display: none;
    }

    textarea,
    input[type="text"],
    input[type="tel"],
    input[type="email"] {
      border-color: transparent;
    }

    &.open {
      form {
        display: block;
      }
      .show-form {
        display: none;
      }
    }

  }

}
