.section-customer-form {

  .errors {
    margin-top: 10px;
  }
}

.form-box {
  padding: 40px;
  background-color: #f6f6f6;

  &__alt {
    background-color: $color-secondary;
  }

  @include breakpoint(small down) {
    padding: 40px 20px;
  }

  @include breakpoint(large) {
    padding: 60px;
  }
}
