$menu-width: 280px;

.mobile-nav {
  display: none;

  @include breakpoint(medium down) {
    display: block;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: -80px; // Account for toolbar overlap
    right: 100%;
    width: $menu-width;
    padding-bottom: 80px; // Account for toolbar overlap
    z-index: 320;
    transition: transform 0.2s ease-out;

    .main-nav-active & {
      transform: translateX(100%);
    }

    &-wrapper {
      min-height: 100%;
    }

    &-links-wrapper {
      overflow: auto;
    }

    &-links {
      list-style: none;
      padding: 20px;
      margin: 0;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      li {
        position: relative;
      }

      > li {
        + li {
          border-top: 1px solid $color-border;
        }
      }

      a {
        display: block;
        min-height: 40px;
        padding: 12px 20px;
        @include no-select();
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.has-children {
          padding-right: 40px;
        }
      }

      .toggle {
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
        width: 40px;
        cursor: pointer;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 20px;
          height: 20px;
          transform: translate(-50%, -50%);
        }
      }
    }

    .child-links {
      a {
        padding-left: 30px;
      }
    }

    .grandchild-links {
      a {
        padding-left: 40px;
      }
    }

    .sub-links {
      display: none;
    }

    .open {
      > .sub-links {
        display: block;
      }

      > .toggle {
        transform: scaleY(-1);
      }
    }

    &-footer {
      padding: 20px;
    }

    .social-icons {
      font-size: rem-calc(24px);
    }
  }
}

.nav-overlay {
  cursor: pointer;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: -80px; // Account for toolbar overlap
  width: 100%;
  z-index: 310;
  @include no-select();

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($darker-grey, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    left: $menu-width + 20px;
    top: 20px;
    z-index: 4;

    color: #ffffff;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}
