.main-nav {

  @include breakpoint($nav-switch-breakpoint) {

    a {
      text-decoration: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-links {
      display: flex;
      justify-content: center;

      > li {
        &.has-children:not(.mega-menu) {
          position: relative;
        }

        &:not(:hover) {
          .main-nav-dropdown {
            display: none;
          }
          .main-nav-mega-menu {
            display: none;
          }
        }

        > a {
          height: 50px;
          padding: 0 15px 10px;
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;

          @include breakpoint(960px) {
            padding: 0 24px 10px;
          }
        }
      }
    }

    &-child-links {
      a {
        display: inline-block;
        padding: 2px 0;
        font-size: 14px;
      }
    }

    // Dropdown
    &-dropdown {
      position: absolute;
      background-color: white;
      box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
      text-align: left;
      margin-top: -1px;
      left: -16px; // Align with parent text
      padding: 0 40px 30px;
      width: 210px;
    }

    // Mega Menu
    &-mega-menu {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      background: white;
      padding: 20px 20px 20px 40px;

      &-links {
        width: 250px;
      }

      &-image {
        padding-right: 10px;

        + .main-nav-mega-menu-image {
          padding-left: 10px;
          padding-right: 0;
        }

        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
