.product-message {
  padding: 20px;
  background: #F9F1E9;
  margin-bottom: 20px;

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }

}

@media screen and (max-width: 640px) {
  .product-message {
    margin-top: 20px;
  }
}