.product-stickers {
  display: flex;
}
.product-sticker {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 40px;
  margin-right: 6px;

  &::after {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-secondary;
  }

  strong {
    font-weight: 800;
  }

  &__sale {
    &::after {
      background-color: $beige;
    }
  }

  &__new {
    &::after {
      background-color: $mid-blue;
    }
  }
}
