.product-message-secondary {
  padding: 20px;
  background: #343840;
  color: white;
  margin-bottom: 20px;
  margin-top: 25px;

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }

}