.product-tile {
  position: relative;

  &__title {
    flex-grow: 1;
  }

  &__body {
    margin-top: 20px;
    flex-grow: 1;
  }

  &__compare-price {
    opacity: 0.5;
    margin-left: 5px;
  }

  &__quickview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    min-width: 124px;

    transition: opacity 200ms;

    @include breakpoint(medium down) {
      display: none;
    }
  }

  &:not(:hover) {
    .product-tile__quickview {
      opacity: 0;
    }
  }

  &__wishlist-add {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    line-height: 1;

    @include breakpoint(medium) {
      display: block;
    }
  }

  .product-stickers {
    position: absolute;
    top: 0;
    left: 0;
  }
}
