.promo-strip {
  background-color: $color-primary;
  color: white;
  text-transform: uppercase;
  padding: 0 14px;
  height: $promo-strip-height;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

body.has-promo-strip {
  padding-top: map_get($header-height, small) + $toolbar-height-for-small + $promo-strip-height;

  @include breakpoint($nav-switch-breakpoint) {
    padding-top: $toolbar-height-for-large + map_get($header-height, large) + $promo-strip-height;
  }
}
