.social-sharing {
  display: inline-flex;
  padding-left: 10px;
  padding-right: 10px;

  > div {
    margin-left: 10px;

    svg {
      display: block;
      width: 20px;
      height: 20px;
    }

    span {
      display: none;
    }
  }

  &:hover {
    .social-sharing__facebook {
      color: #4267b2;
    }

  }

}
