// stylelint-disable color-no-hex

// Colors
// ----------------------------------------
$dark-grey: #7d8488;
$grey: #dddfe0;
$light-grey: #e9e9e9;
$pale-grey: #f6f6f6;
$pale-blue: #e4eaed;

$green: #c2e6d6;
$dark-pink: #d97771;
$pink: #f8c4c2;
$light-pink: #e1cbcd;

// Colors
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-accent: $dark-pink;
$color-border: $light-grey;

// Text colors
$color-body-text: var(--color-body-text);
$color-body-secondary-text: var(--color-secondary-text);

// Background colors
$color-body: var(--color-main-background);

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Forms
$color-form-element-text: $color-body-text;
$color-form-element-placeholder-text: $color-body-secondary-text;
$color-form-element-background: white;
$color-form-element-border: #e7e7e7;
$color-form-element-disabled-text: #e1e1e1;
$color-form-element-disabled-border: #e1e1e1;
$color-form-error: #c93330;



// Header
// ----------------------------------------
$nav-switch-breakpoint: medium;
$nav-switch-breakpoint-down: small down;

$promo-strip-height: 32px;

$toolbar-height: (
  small: 60px,
  medium: 42px
);

$header-height: (
  small: 0,
  medium: 140px,
  large: 140px
);
$compact-header-transition: transform 200ms;

// Transitions
// ----------------------------------------
$transition-duration: 250ms;
