{% comment %} <div class="section section-wishlist">

    <div class="grid-container">

        <h1 class="mb-30">{% include 'page-title' %}</h1>

        {% if customer %}
            {%- assign product_handles = customer.metafields.shopify_wishlist.products | remove:'[' | remove:']' | remove:' ' | remove:'"' | split: ',' -%}
            {% assign wishlist_product_counter = 0 %}

            <div class="collection-products grid-x grid-margin-x grid-margin-y">

                {% for product_handle in product_handles %}
                    {% if product_handle contains "_variant_" %}
                        {% assign pieces = product_handle | split: "_variant_" %}
                        {%- assign product = all_products[pieces[0]] -%}
                        {%- assign product_variant = pieces[1] -%}
                    {% else %}
                        {%- assign product_variant = "" -%}
                        {%- assign product = all_products[product_handle] -%}
                    {% endif %}

                    {% unless product == blank  %}
                    {% assign wishlist_product_counter = wishlist_product_counter | plus: 1 %}
                        <div class="small-6 large-4 cell">
                            {% include 'product-tile', hide_swatches: true %}
                        </div>
                    {% endunless %}
                {% endfor %}
                {%- assign product_variant = "" -%}

                {% if wishlist_product_counter == 0 %}
                    <div class="cell">
                        <div class="rte">
                            <p>
                                Your wishlist is empty.
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="rte">
                <p>
                    <a href="/account/login">Login</a> or <a href="/account/register">Register</a> to create a wishlist.
                </p>
            </div>
        {% endif %}

    </div>
</div> {% endcomment %}
