<div class="section m-mb-0 section-about-us-page-group">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="text-section text-center mbi-0 m-mt-20 m-mb-20">
                <span class="h1-v2">{{section.settings.section_title}}</span>
            </div>
            <div class="section-line-horizontal mti-40 mbi-20 show-for-medium"></div>
            <div class="section-line-horizontal-mobile m-mb-0 m-mt-10 show-for-small-only"></div>
            <div class="text-section text-center mti-0 mbi-0 m-mt-20 m-mb-20">
                <p>{{section.settings.section_paragraph}}</p>
            </div>
        </div>
    </div>
</div>

{% schema %}
     {
         "name": "Text Section",
         "settings": [
            {
                "type": "text",
                "id": "section_title",
                "label": "Title 1"
            },
            {
                "type": "textarea",
                "id": "section_paragraph",
                "label": "Paragraph 1"
            }
        ]
     }
{% endschema %}
