<div data-autoload-class="ContactSection" class="section section-contact">
    <div class="grid-container">

        {% include 'breadcrumb' %}

        <div class="grid-x grid-margin-x align-middle">

            <div class="cell large-shrink">
                  <div class="title-block medium-text-center">
                    <h2 class="h1 m-0">{{ page.title }}</h2>
                </div>
            </div>

            <div class="cell large-auto">
                <form action="#" method="get" class="contact-search">
                    <div class="search-input-wrapper">
                        <input type="search" name="q" id="Search" autocomplete="off" placeholder="Search">
                        <button type="submit" tabindex="0" class="contact-search-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="icon"><path d="M18.64 17.02l-5.31-5.31c.81-1.08 1.26-2.43 1.26-3.87C14.5 4.06 11.44 1 7.75 1S1 4.06 1 7.75s3.06 6.75 6.75 6.75c1.44 0 2.79-.45 3.87-1.26l5.31 5.31c.45.45 1.26.54 1.71.09.45-.36.45-1.17 0-1.62zM3.25 7.75c0-2.52 1.98-4.5 4.5-4.5s4.5 1.98 4.5 4.5-1.98 4.5-4.5 4.5-4.5-1.98-4.5-4.5z"></path></svg></button>
                        </button>
                    </div>
                </form>
            </div>

        </div>

        <div class="grid-x results">
            <div class="cell">
                <h3 class="h2 results-text"></div>
            </div>
             <div class="cell">
                <div class="results-container"></div>
             </div>
        </div>

    </div>
</div>