<div class="section section-foot-health-hub-header no-margin">

  <div class="foot-health-hub-header-container" style="background-image:url({{ section.settings.image | img_url: '1200x' }})">
    <div class="foot-health-hub-header-image-container" style="display:none;">

      <img src="{{ section.settings.image | img_url: '1200x' }}" class="foot-health-hub-header-image"/>

    </div>

    <div class="foot-health-hub-header-content">

      <h1>{{ section.settings.title }}</h1>
      <div class="content">{{ section.settings.content }}</div>

    </div>
  </div>

</div>

{% schema %}
    {
        "name": "Foot Health Hub Header",
        "settings": [
            {
                "type": "header",
                "content": "Section Title"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "content",
                "label": "Content"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            }
        ]
    }
{% endschema %}

