<div class="section section-newsletter no-margin {{ section.settings.background }}">
  <div class="grid-container">
    <div class="medium-text-center mb-15">
      <h2 class="m-0">{{section.settings.section_title}}</h2>
      <p class="mt-5 mb-0">{{section.settings.section_subheading}}</p>
    </div>

    <div class="grid-x align-center">
      <div class="cell shrink">
        <a class="button button-primary" target="_blank" href="{{ section.settings.subscribe_page }}">Subscribe</a>
      </div>
    </div>
  </div>

</div>
{% schema %}
{
  "name": "Subscribe",
  "settings": [
  {
    "type": "header",
    "content": "Section Title"
  },
  {
    "type": "text",
    "id": "section_title",
    "label": "Title"
  },
  {
    "type": "text",
    "id": "section_subheading",
    "label": "Subheading"
  },
  {
    "type": "url",
    "id": "subscribe_page",
    "label": "Subscribe Page"
  },
  {
    "type":      "select",
    "id":        "background",
    "label":     "Background Colour",
    "options": [
      { "value": "pink", "label": "Light Pink"},
      { "value": "green", "label": "Light Green"},
      { "value": "blue", "label": "Light Blue"},
      { "value": "grey", "label": "Dark Grey"}
     ],
    "default":   "pink",
    "info":      "Select a background colour"
  }
  ],
  "presets": [
  {
    "name": "Subscribe",
    "category": "Forms"
  }
  ]
}
{% endschema %}
