<div class="section section-text-image no-margin">
    <div class="grid-container">
        <div class="grid-x align-middle" style="height: auto">
            <div class="cell small-12 medium-7 large-7">
                <div class="cell-text-container" style="padding: 20px; text-align: center; margin: 5%">
                    <div class="cell-image cell medium-auto">
                        <img src="{{section.settings.image_2 | img_url: '400x'}}" style="width: 210px; margin: auto">
                    </div>
                    <p style="line-height: normal;">{{section.settings.content}}</p>
                    <div class="cell shrink">
                        <a class="button button-primary" target="_blank" href="{{ section.settings.good_design_award }}">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="cell-image cell medium-auto good-design-award non-mobile-screen" style="background-image: url('{{section.settings.image_1 | img_url: '1400x'}}'); height: 370px; width: 100%; background-size: cover;">
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Good Design Award",
  "settings": [
    {
        "type": "image_picker",
        "id": "image_2",
        "label": "Good Design Award Icon"
    },
    {
        "type": "text",
        "id": "content",
        "label": "Content"
    },
    {
        "type": "url",
        "id": "good_design_award",
        "label": "Good Design Award URL link"
    },
    {
        "type": "image_picker",
        "id": "image_1",
        "label": "Good Design Award Image"
    }
  ]
}
{% endschema %}
