<div  class="section section-healing-heels-video">
  <div class="section-line"></div>

  <div class="healing-heels-video-container">
    {% if section.settings.video != blank %}
      <div class="video-container">
        <video class="lazyload" preload="none" autoplay="" loop="" muted=""
               playsinline controls="controls"
               width="1280" height="720"
               data-src="{{section.settings.video }}">
        </video>
      </div>
    {% endif %}
  </div>

</div>


{% schema %}

{
  "name": "Healing Heels Video",
  "settings": [
    {
      "type": "text",
      "id": "video",
      "label": "Video",
      "info": "Enter the video source URL. The video must be .mp4 format and hosted publicly."
    }
  ]
}

{% endschema %}
