<div class="section section-instagram no-margin">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="text-left" style="width: 100%">
                <h4 class="h5-v2 instagram-title"><a class="instagram-link" href="{{ section.settings.section_headinglink }}">{{ section.settings.section_heading }}</a></h4>
            </div>
        </div>
    </div>
    <div class="yotpo yotpo-pictures-widget"
         data-gallery-id="{{section.settings.gallery_id}}">
    </div>
</div>

{% schema %}
    {
        "name": "Instagram",
        "settings": [
            {
                "type": "text",
                "id": "section_heading",
                "label": "Ttile"
            },
            {
                "type": "text",
                "id": "section_headinglink",
                "label": "Link"
            },
            {
                "type": "text",
                "id": "gallery_id",
                "label": "Yotpo Gallery ID"
            }
        ],
        "presets": [
            {
                "name": "Instagram",
                "category": "Sections"
            }
        ]
    }
{% endschema %}

