<div class="section section-instagram large-margin">

    <div class="grid-container">
        <div class="title-block medium-text-center mb-30">
            <h2 class="h1 m-0">{{section.settings.section_title}}</h2>
            <p class="lead color-secondary-text mt-5 mb-0">{{section.settings.section_subheading}}</p>
            <a href="{{ settings.social_instagram_link }}" class="arrow-link color-secondary-text mt-20">Visit our Instagram page {% include 'icon-chevron-right' %}</a>
        </div>
    </div>

    <div class="grid-container">
        <div class="ssw-html-widget ssw-instagram-widget" data-module="service" data-name="instagramPhotos" data-gallery_id="2" data-type="slide">
            <div class="ssw-page-loading">
                <span class="ssw-spin ssw-loader"></span>
            </div>
        </div>
    </div>

</div>

{% schema %}
    {
        "name": "Instagram",
        "settings": [
            {
                "type": "header",
                "content": "Section Title"
            },
            {
                "type": "text",
                "id": "section_title",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "section_subheading",
                "label": "Subheading"
            }
        ],
        "presets": [
            {
                "name": "Instagram",
                "category": "Sections"
            }
        ]
    }
{% endschema %}

