{% comment %}
Custom logic to get related products.
Related products are any product that shares one or more collections with the current product.
The section has an option to exclude collections. This is useful for excluding general collections
such as 'featured' or 'all'.
{% endcomment %}

{% assign excluded_collections = section.settings.exclude_collections | split: "," %}
{% assign related_collections = '' %}

{% for collection in product.collections %}
    {% unless excluded_collections contains collection.handle %}
        {% if related_collections != '' %}
            {% assign related_collections = related_collections | append: ',' %}
        {% endif %}
        {% assign related_collections = related_collections | append: collection.handle %}
    {% endunless %}
{% endfor %}
{% assign related_collections = related_collections | split: "," %}



    <div class="section section-related-products large-margin">

         <div class="grid-container related-products-container">

             <div class="title-block text-center mb-30">
                <h2 class="h1 m-0">{{section.settings.section_title}}</h2>
                 {% if section.settings.section_subheading != blank %}
                     <p class="lead color-secondary-text mt-5 mb-0">{{section.settings.section_subheading}}</p>
                 {% endif %}
            </div>

            <div class="grid-x grid-margin-x grid-margin-y">
              {% assign related_products_count = 1 %}


              {% for related_collection in related_collections %}
                {% for related_product in collections[related_collection].products %}
                   {% if related_product.handle == product.handle or related_products_count > 4 %}
                     {% continue %}
                   {% endif %}
                    <div class="cell small-6 large-3">
                      {% render 'product-tile', product: related_product %}
                    </div>
                    {% assign related_products_count = related_products_count | plus: 1 %}
                {% endfor %}
              {% endfor %}

            </div>
        </div>
    </div>

{% schema %}

{
    "name": "Related Products",
    "settings": [
        {
            "type": "header",
            "content": "Section Title"
        },
        {
            "type": "text",
            "id": "section_title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "section_subheading",
            "label": "Subheading"
        },
        {
            "type": "text",
            "id": "exclude_collections",
            "label": "Exclude Collections",
            "info": "Add comma separated list of collection handles to exclude from related products."
        }
    ]
}

{% endschema %}
