{% comment %}
Custom logic to get related products.
Related products are any product that shares one or more collections with the current product.
The section has an option to exclude collections. This is useful for excluding general collections
such as 'featured' or 'all'.
{% endcomment %}

{% assign excluded_collections = section.settings.exclude_collections | split: "," %}
{% assign related_collection = '' %}

{% if product.type == 'SNEAKER' or product.type == 'ACTIVE' %}
    {% assign related_collection = 'dress-flats' %}
{% elsif product.type == 'SOCKS' %}
    {% assign related_collection = 'shop-all-sneakers' %}
{% elsif product.type == 'Shoelace' or product.type == 'SHOELACE' %}
    {% assign related_collection = 'shop-all-sneakers' %}
{% elsif product.type == 'DRESS FLAT' or product.type == 'CASUAL FLAT' or product.type == 'BALLET FLAT' %}
    {% if request.host == 'frankie4.com' or request.host == 'frankie4.myshopify.com' %}
        {% assign related_collection = 'active' %}
    {% else %}
        {% assign related_collection = 'shop-all-sneakers' %}
    {% endif %}
{% elsif product.type == 'SLIDE' %}
    {% assign related_collection = 'ballet-flats' %}
{% elsif product.type == 'BOOT' %}
    {% assign related_collection = 'dress-flats' %}
{% elsif product.type == 'SANDAL' or product.type == 'FLAT SANDAL' %}
    {% assign related_collection = 'ballet-flats' %}
{% elsif product.type == 'HEEL' %}
    {% if request.host == 'us.frankie4.com' or request.host == 'frankie4-united-states-store.myshopify.com' %}
        {% assign related_collection = 'boots' %}
    {% else %}
        {% assign related_collection = 'shop-all-boots' %}
    {% endif %}
{% else %}
    {% assign related_collection = 'best-sellers-1' %}
{% endif %}




    <div class="section section-related-products large-margin">

         <div class="grid-container related-products-container">

             <div class="title-block text-center mb-30">
                <h2 class="h1 m-0">{{section.settings.section_title}}</h2>
                 {% if section.settings.section_subheading != blank %}
                     <p class="lead color-secondary-text mt-5 mb-0">{{section.settings.section_subheading}}</p>
                 {% endif %}
            </div>

            <div class="grid-x grid-margin-x grid-margin-y">
                {% assign related_products_count = 1 %}

                {% for related_product in collections[related_collection].products %}
                    {% if related_product.handle == product.handle or related_products_count > 4 %}
                        {% continue %}
                    {% endif %}

                    {% assign do_not_recommend = false %}
                    {% assign existing_product = false %}

                    {% for tag in related_product.tags %}
                        {% if tag contains 'do_not_recommend' %}
                            {% assign do_not_recommend = true %}
                        {% endif %}
                    {% endfor %}

                    {% assign related_product_name = related_product.title | split: ' ' | first %}
                    {% for item in cart.items %}
                        {% assign item_name = item.title | split: ' ' | first %}
                        {% if item_name == related_product_name %}
                            {% assign existing_product = true %}
                        {% endif %}
                    {% endfor %}

                    {% if do_not_recommend == false and existing_product == false %}
                        <div class="cell small-6 large-3">
                        {% render 'product-tile', product: related_product %}
                        </div>
                        {% assign related_products_count = related_products_count | plus: 1 %}
                    {% endif %}

                {% endfor %}


                {% comment %} no related group situation {% endcomment %}
                {% if related_products_count < 4 %}
                    {% assign related_collection = 'best-sellers-1' %}
                    {% for related_product in collections[related_collection].products %}
                        {% if related_product.handle == product.handle or related_products_count > 4 %}
                            {% continue %}
                        {% endif %}
                        {% assign do_not_recommend = false %}
                        {% for tag in related_product.tags %}
                            {% if tag contains 'do_not_recommend' %}
                                {% assign do_not_recommend = true %}
                            {% endif %}
                        {% endfor %}
                        {% if do_not_recommend == false %}
                            <div class="cell small-6 large-3">
                            {% render 'product-tile', product: related_product %}
                            </div>
                            {% assign related_products_count = related_products_count | plus: 1 %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>

{% schema %}

{
    "name": "Related Products",
    "settings": [
        {
            "type": "header",
            "content": "Section Title"
        },
        {
            "type": "text",
            "id": "section_title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "section_subheading",
            "label": "Subheading"
        },
        {
            "type": "text",
            "id": "exclude_collections",
            "label": "Exclude Collections",
            "info": "Add comma separated list of collection handles to exclude from related products."
        }
    ]
}

{% endschema %}
