<div class="section section-text" style="background-color: #ffffff;">

    <div class="grid-container">

            <div class="color-secondary-text text-left seo_div">
                <div class="seo_text">
                    {{ section.settings.content }}
                </div>
            </div>

    </div>

</div>

{% schema %}
    {
        "name": "Text",
        "settings": [
            {
                "id": "content",
                "type": "richtext",
                "label": "Content"
            }
        ],
        "presets": [
            {
                "name": "Text SEO",
                "category": "Sections"
            }
        ]
    }
{% endschema %}

<style>
    .seo_div {
    margin: 40px 0 15px 0;
    }

    .seo_text {
    margin: 0;
    }

    .seo_text p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
    }

    .seo_text a {
    color: #42abc8;
    transition: 0.3s ease all;
    }

    .seo_text a:hover {
    color: #05617a;
    }

    .seo_text strong {
    color: #000000;
    }
</style>