<div class="section section-text-seo">

    <div class="grid-container">

            <div class="color-secondary-text text-left seo_div">
                <div class="seo_text">
                    {{ section.settings.content }}
                </div>
            </div>

    </div>

</div>

{% schema %}
    {
        "name": "Text",
        "settings": [
            {
                "id": "content",
                "type": "richtext",
                "label": "Content"
            }
        ],
        "presets": [
            {
                "name": "Text SEO",
                "category": "Sections"
            }
        ]
    }
{% endschema %}
