<div class="section section-text-seo mti-60">
    <div class="grid-container">
        <div class="color-secondary-text text-center seo_div">
            <div class="seo_text">
                {{ section.settings.content }}
            </div>
            <div id="toggle_btn" onclick="document.getElementById('more_text').style.display = 'block';document.getElementById('toggle_btn').style.display = 'none'">Read more...</div>
            <div id="more_text" class="seo_text" style="display: none">
                {{ section.settings.content_hidden }}
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Text SEO",
        "settings": [
            {
                "id": "content",
                "type": "richtext",
                "label": "Content"
            },
            {
                "id": "content_hidden",
                "type": "richtext",
                "label": "Content Hidden"
            }
        ],
        "presets": [
            {
                "name": "Text SEO",
                "category": "Sections"
            }
        ]
    }
{% endschema %}
