<div class="section mti-80 mbi-70 m-mt-60 m-mb-50">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="text-center width-100">
                <h4 class="h4-v2">{{ section.settings.heading }}</h4>
                <p class="mt-10 mb-20" style="line-height: 18px">{{ section.settings.content }}</p>
                <a class="button button-box" href="{{ section.settings.link }}">{{ section.settings.link_text }}</a>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Text & Button",
        "settings": [
            {
                "id": "heading",
                "type": "text",
                "label": "Heading"
            },
            {
                "id": "content",
                "type": "text",
                "label": "Content"
            },
            {
                "id": "link_text",
                "type": "text",
                "label": "Link Text"
            },
            {
                "id": "link",
                "type": "url",
                "label": "Link"
            }
        ],
        "presets": [
            {
                "name": "Text & Button",
                "category": "Sections"
            }
        ]
    }
{% endschema %}
