<div class="section m-mb-0 section-about-us-page-group">
    <div class="grid-container">
        <div class="grid-x align-middle">
            <div class="section-line mti-40 mbi-10 m-mb-0 m-mt-0"></div>
            <div class="text-center m-mt-20 m-mb-0" style="width: 1100px; margin: 40px 10% 20px 10%;">
                <h1 style="margin-bottom: 30px">{{section.settings.section_title}}</h1>
                <p>{{section.settings.section_paragraph}}</p>
            </div>
            <div class="cell-image cell medium-auto image-full-width" 
                style="background-image: url('{{section.settings.image_2 | img_url: '1400x'}}');
                        background-position: bottom;">
            </div>
        </div>
    </div>
</div>

{% schema %}
     {
         "name": "Workwear Hub Section 1",
         "settings": [
            {
                "type": "text",
                "id": "section_title",
                "label": "Title 1"
            },
            {
                "type": "textarea",
                "id": "section_paragraph",
                "label": "Paragraph 1"
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "Image Section 1"
            }
        ]
     }
 {% endschema %}
