<div class="section mti-0 mbi-0 m-auto section-about-us-page-group m-mt-0" style="max-width: 2000px;">
        <div class="cell-image cell medium-auto landing-image" 
            style="background-image: url('{{section.settings.image_1 | img_url: '1400x'}}');
                    background-position: bottom;">
                <div class="text-center landing-text">
                    <h1>{{section.settings.section_main_title}}</h1>
                    <h4>{{section.settings.section_subtitle}}</h4>
                </div>
        </div>
    </div>


{% schema %}

{
  "name": "Workwear Hub Header",
  "settings": [
    {
        "type": "text",
        "id": "section_main_title",
        "label": "Page Title"
    },
    {
        "type": "text",
        "id": "section_subtitle",
        "label": "Page Subtitle"
    },
    {
        "type": "image_picker",
        "id": "image_1",
        "label": "Page Landing Background Image"
    }
  ]
}

{% endschema %}
