.section-collection {
  .load-more-group {
    margin-top: 50px;
  }
}

#collection-load-more-button {
  cursor: pointer;
}

.collection-header {
  margin-top: map-get($grid-margin-gutters, small);
  margin-bottom: map-get($grid-margin-gutters, small);
  @include breakpoint(medium) {
    margin-top: map-get($grid-margin-gutters, medium);
    margin-bottom: map-get($grid-margin-gutters, medium);
  }
}

.collection-banner {
  padding: 20px;
  width: 100%;
  min-height: 150px;
  background-color: $color-primary;
  color: #fff;
  position: relative;
  background-size: cover;
  background-position: center;

  @include breakpoint(medium) {
    min-height: 340px;
    padding: 0 90px;
  }

  &:not(.has-overlay) {
    .collection-banner-overlay {
      display: none;
    }
  }

  &-text {
    position: relative;
    min-height: 150px;

    @include breakpoint(medium) {
      min-height: 340px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  &-overlay {
    position: absolute;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
  }
}

.collection-toolbar {

  #bc-sf-filter-top-sorting-select {
    position: relative;
    padding: 15px 40px 15px 20px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    color: inherit;
    //font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    z-index: 1;
    //@include breakpoint(small) {
      font-size: rem-calc(16);
    //}
  }

  .select-wrap {
    border: 0;

    select {
      font-weight: bold;
      line-height: 1.5em;
    }
  }

  &__sort {

    &-label {
      white-space: nowrap;
    }

  }
}

#bc-sf-filter-bottom-pagination {
  .pagination-custom {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;

    li {
      padding: 10px;
    }

  }
}
