.section-collection {
  .load-more-group {
    margin-top: 50px;
  }
}

#collection-load-more-button {
  cursor: pointer;
}

.collection-header {
  margin-top: map-get($grid-margin-gutters, small);
  margin-bottom: map-get($grid-margin-gutters, small);
  @include breakpoint(medium) {
    margin-top: map-get($grid-margin-gutters, medium);
    margin-bottom: map-get($grid-margin-gutters, medium);
  }
}

.collection-banner {
  padding: 20px;
  width: 100%;
  background-color: $color-primary;
  background-size: cover;
  background-position: center;
  color: #fff;

  @include breakpoint(medium) {
    height: 340px;
    padding: 0 90px;
  }
}

.collection-toolbar {
  .select-wrap {
    border: 0;

    select {
      font-weight: bold;
      line-height: 1.5em;
    }
  }

  &__sort {

    &-label {
      white-space: nowrap;
    }

  }
}
