.section-contact-form {

  .contact-form-container {
    background: $color-secondary;
    padding: 40px 0;
  }

  .form-container {

    form {
      display: none;
    }


    &.open {
      form {
        display: block;
      }
      .show-form {
        display: none;
      }
    }

  }

}
