.section-faq {

  .faq-header {
    margin-top: 30px;

    .accordion-quick-links {

      a {
        display: block;
        text-decoration: none;
        margin-left: 20px;
      }
    }
  }


  .faq-listing {
    margin-top: 60px;
  }

}
