.section-faq {

  .faq-header {

    @include breakpoint(medium) {
      margin-top: 30px;
    }

    .accordion-quick-links {

      a {
        display: block;
        text-decoration: none;
        margin-left: 20px;
      }
    }
  }


  .faq-listing {
    margin-top: 60px;
  }

  .faq-anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -($toolbar-height-for-small);

    @include breakpoint($nav-switch-breakpoint) {
      top: -($toolbar-height-for-large + (map_get($header-height, large) - 80px));
    }

    body.has-promo-strip & {
      top: -($toolbar-height-for-small + $promo-strip-height);

      @include breakpoint($nav-switch-breakpoint) {
        top: -($toolbar-height-for-large + (map_get($header-height, large) - 80px) + $promo-strip-height);
      }
    }

  }

}

