// =====================================================
// Footer
// =====================================================
// Variables
// =====================================================

// Variables
// -----------------------------------------------------
$payment-icons-spacing: 10px;

// Footer
// -----------------------------------------------------
footer {
  padding: 60px 0;

  .footer-links {

    a {
      display: block;
      text-decoration: none;
      transition: transform 200ms;

      &:hover {
        transform: translateX(10px);
      }

    }

    h5 {
      @include breakpoint(small down) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  // Navigation
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none;
    }

    li {
      break-inside: avoid;
    }

    @include breakpoint(medium) {
      column-count: 2;
    }

    @include breakpoint(medium) {
      column-count: 4;
    }

    @include breakpoint(small down) {
      .accordion-toggle {
        padding: 0;
        border: 0;


        .accordion-toggle-title {
          font-weight: 700;
        }

        .close-icon {
          transform: rotate(180deg);
        }

        svg {
          display: block;
        }

      }

      .accordion-body {
        border: 0;
        margin-top: 10px;
        font-size: rem-calc(14);
      }


    }

  }

  .sub-menu {
    padding: 0;
    list-style: none;
    //font-size: rem-calc(12);
    line-height: rem-calc(28);

    li {
      padding: 0;
    }
  }


  .contact-details {
    svg {
      height: 12px;
      width: 12px;
      margin-right: 10px;
    }

    > div {
      margin-bottom: 15px;
    }

    .trading-hours a{
      font-size: rem-calc(11);
      color: #7D8488;
      text-decoration: none;
    }
  }

  // Socials
  .social-icons {
    &-container {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }

    &-title {
      font-weight: normal;
      flex-shrink: 0;
      margin: 0 14px 0 0;
    }
  }

  .social-icons {
    @include breakpoint(small down) {
      @include flex-align(center);
    }
  }

  // Legals
  .footer-legals {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    font-size: rem-calc(11px);

    li {
      &::after {
        content: "|";
        margin: 0 0.4em;
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }

    a {
      text-decoration: none;
    }
  }
}
