.section-foot-health-hub-slider {

  background-color: #F1F1F1;
  padding: 50px 0 60px 0;

  .slide-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: flex-end;
    }

    .content-slider-container {
      width: 100%;

      @include breakpoint(medium) {
        width: 45%;
        display: flex;
        justify-content: flex-end;
      }

      > div {
        padding: 10px map-get($grid-container-padding, small) / 2;
        width: 100%;

        @include breakpoint(medium) {
          padding: 10px map-get($grid-container-padding, medium) / 2;
          max-width: calc((((#{$global-width}) - (#{map-get($grid-container-padding, medium)} / 2)) * 0.45));
        }
      }

      .content-slider {

        // Fade Content Slider
        .glide__slides {transform:none !important; width:auto !important; display:block;}
        .glide__slide {position:absolute; left:0; top:0; opacity:0; transition:opacity 200ms;}
        .glide__slide:first-child {position:relative;}
        .glide__slide--active {z-index:1; opacity:1;}


        // Content
        .button-link {
          text-decoration: none;
        }

      }

    }

    .image-slider-container {
      //width: 100%;
      //float: right;
      width: 100%;
      padding: 10px 1.07143rem;
      //width: 58.333%;
      position: relative;

      @include breakpoint(medium) {
        width: 55%;
        padding: 0;
      }


      //&:before {
      //  content: '';
      //  position: absolute;
      //  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(241,241,241,1) 100%);
      //  width: 20px;
      //  height: 100%;
      //  right: 0;
      //  top: 0;
      //  display: block;
      //  z-index: 1;
      //}

      img {
        width: 100%;
      }

      .glide {

        &__slide {
          transition: opacity 200ms;

          &:not(.glide__slide--active) {
            opacity: 0.2;
          }
        }

        &__bullets {
          bottom: -1em;
          left: 0;
          transform: none;

          .glide__bullet {
            background-color: #35383F;
            border: 2px solid #35383F;
            box-shadow: none;

            &--active {
              background-color: #F1F1F1;
            }
          }

        }

      }

    }


  }

}
