.section-foot-health-hub-road-testers {

  //padding: 50px 0;

  .slide-container {
    padding-top: 40px;
  }

  .content-box {
    background: #F1F1F1;
    padding: 30px;
    margin-bottom: 60px;

    @include breakpoint(medium) {
      padding: 60px;
    }

    @include breakpoint(large) {
      height: 100%;
      margin: 0;
    }

  }

  .review {

    &-name {
      font-weight: bold;
    }

  }



  .glide {

    &__slide {
      transition: opacity 200ms;

      &:not(.glide__slide--active) {
        opacity: 0.2;
      }

      &.glide__slide--active + .glide__slide {
        opacity: 1;
      }

    }

    &__navigation {
        position: absolute;
        top: -40px;
        bottom: auto;
        right: 0;
        margin: 0;

      button {
        cursor: pointer;
        padding: 5px 0;
        text-transform: uppercase;
        font-size: rem-calc(16);
      }
    }

    &__bullets {
      bottom: -2em;
      left: auto;
      transform: none;

      @include breakpoint(medium) {
        position: absolute;
        top: -2em;
        right: 0;
      }

      .glide__bullet {
        background-color: #35383F;
        border: 2px solid #35383F;
        box-shadow: none;

        &--active {
          background-color: #F1F1F1;
        }
      }

    }

  }

}
