.section-foot-health-hub-slider {

  background-color: #F1F1F1;
  padding: 50px 0 60px 0;


  .slide-container {

    .content-slider-container {
      padding: 10px 0 40px 0;

      @include breakpoint(medium) {
        padding: 40px 0;
      }

      .content-slider {

        // Fade Content Slider
        .glide__slides {transform:none !important; width:auto !important; display:block;}
        .glide__slide {position:absolute; left:0; top:0; opacity:0; transition:opacity 200ms;}
        .glide__slide:first-child {position:relative;}
        .glide__slide--active {z-index:1; opacity:1;}



        // Content

        .button-link {
          text-decoration: none;
        }

      }

    }

    .image-slider-container {
      //width: 58.333%;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(241,241,241,1) 100%);
        width: 20px;
        height: 100%;
        right: 0;
        top: 0;
        display: block;
        z-index: 1;
      }

      .glide {

        &__slide {
          transition: opacity 200ms;

          &:not(.glide__slide--active) {
            opacity: 0.2;
          }
        }

        &__bullets {
          bottom: -1em;
          left: 0;
          transform: none;

          .glide__bullet {
            background-color: #35383F;
            border: 2px solid #35383F;
            box-shadow: none;

            &--active {
              background-color: #F1F1F1;
            }
          }

        }

      }

    }


  }

}
