.section-foot-health-hub-slider {

  background-color: #F1F1F1;
  padding: 50px 0 60px 0;

  .slide-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: flex-end;
    }

    .content-slider-content {
      @include breakpoint(medium) {
        text-align: center;
      }

      &-title {
        margin-bottom: 30px;
      }

    }

    .content-slider-container {
      width: 100%;

      @include breakpoint(medium) {
        width: 45%;
        display: flex;
        justify-content: flex-end;
      }

      > div {
        padding: 10px map-get($grid-container-padding, small) / 2;
        width: 100%;

        @include breakpoint(medium) {
          padding: 10px map-get($grid-container-padding, medium) / 2;
          max-width: calc((((#{$global-width}) - (#{map-get($grid-container-padding, medium)} / 2)) * 0.45));
        }
      }

      .content-slider {

        // Fade Content Slider
        .glide__slides {transform:none !important; width:auto !important; display:block;}
        .glide__slide {position:absolute; left:0; top:0; opacity:0; transition:opacity 200ms;}
        .glide__slide:first-child {position:relative;}
        .glide__slide--active {z-index:1; opacity:1;}


        // Content
        .button-link {
          text-decoration: none;
          text-transform: uppercase;
          font-size: rem-calc(16);
          font-weight: bold;
          border-bottom: 1px solid black;
        }

      }

    }

    .image-slider-container {
      width: 100%;
      padding: 10px 1.07143rem;
      position: relative;

      @include breakpoint(medium) {
        width: 55%;
        padding: 0;
      }


      img {
        width: 100%;
      }

      .glide {

        &__navigation {
          margin: 10px 0;

          button {
            cursor: pointer;
            padding: 5px 0;
            text-transform: uppercase;
            font-size: rem-calc(16);
          }
        }

        &__slide {
          transition: opacity 200ms;

          &:not(.glide__slide--active) {
            opacity: 0.2;
          }
        }

        &__bullets {
          bottom: -1em;
          left: 0;
          transform: none;

          .glide__bullet {
            background-color: #35383F;
            border: 2px solid #35383F;
            box-shadow: none;

            &--active {
              background-color: #F1F1F1;
            }
          }

        }

      }

    }


  }

}
