.section-foot-health-hub-header {

    .foot-health-hub-header {

      &-container {
        max-width: 2000px;
        margin: auto;
        position: relative;
      }

      &-content {
        position: relative;
        padding: 20px 0;
        margin-top: -45px;

        @include breakpoint(medium) {
          padding: 100px 0;
          margin: 0;
        }

        h1 {
          font-size: rem-calc(40);
          @include breakpoint(medium) {
            font-size: rem-calc(60);
          }
        }

        .content {
          font-size: rem-calc(16);
        }

      }

      &-image {
        position: absolute;
        right: 0;
        height: 100%;


        &-container {

          background:  #EEEAE7;
          position: relative;
          height: 180px;

          @include breakpoint(medium) {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: calc(((100% - 1240px) / 2) + (1240px * 0.85));
            height: 100%;
          }

        }

      }

    }


}
