body {
  padding-top: map_get($top-bar-height, small) + $toolbar-height;

  @include breakpoint($nav-switch-breakpoint) {
    padding-top: $toolbar-height + map_get($top-bar-height, large);
  }
}

// Header
// ----------------------------------------
.site-header {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  background: white;
}

.top-nav {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
  }

  li + li::before {
    content: '|';
    margin-left: 4px;
  }
}

.header-top {
  height: $toolbar-height;
  background: #f6f6f6;
}


// Toolbar
// ----------------------------------------
.toolbar {
  &-items {
    display: inline-flex;
    height: $toolbar-height;
    margin: 0;
    padding: 0;
  }

  &-item {
    position: relative;
    transition: box-shadow 200ms;
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;

    &__dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      min-width: 220px;
      padding: 20px;
      z-index: 1;
      background: white;
      box-shadow: 0px 3px 5px 1px rgba(#000000, 0.1);
    }

    &:hover {
      .toolbar-item__dropdown {
        display: block;
      }
    }
  }

  &-item-inner {
    display: flex;
    @include flex-align(center, middle);
    height: 100%;
    padding: 0 10px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    @include breakpoint(large) {
      padding: 0 12px;
    }

    > svg,
    > .cart-count {
      + span {
        margin-left: 8px;
      }
    }

    > span {
      text-transform: uppercase;
    }
    .icon {
      font-size: rem-calc(20);
    }
  }
}

.search-focusser {
  .search-autocomplete-active & {
    @include breakpoint(large) {
      display: none;
    }
  }
}

.header-logo {
  height: 100%;


  &-inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-start;

    @include breakpoint(medium) {
      justify-content: center;
    }
  }

  a {
    text-decoration: none;
    font-weight: 700;

    img {
      height: 18px;
      width: auto;

      @include breakpoint($nav-switch-breakpoint) {
        height: 26px;
      }
    }
  }

  &-text {
    font-size: rem-calc(28px);
    line-height: 1;

    @include breakpoint(large) {
      font-size: rem-calc(36px);
    }
  }

}

// Main Bar
// ----------------------------------------
.main-bar {

  @include breakpoint(medium) {
    height: map_get($top-bar-height, medium);
  }

  @include breakpoint(large) {
    height: map_get($top-bar-height, large);
  }

  &-wrapper {
    height: 100%;
  }

  &-item {
    align-items: center;
    height: map_get($top-bar-height, small);
    width: map_get($top-bar-height, small);

    a,
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      cursor: pointer;
      outline: none;
    }
  }

  @include breakpoint($nav-switch-breakpoint) {
    &-items {
      position: absolute;
      bottom: -32px;
      opacity: 0;
      transition: opacity 200ms;

      body:not(.compact-header) & {
        opacity: 0;
        cursor: default;
        pointer-events: none;
      }

      .compact-header & {
        opacity: 1;
      }

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }
  }
}
