.section-instagram {

  .ssw-instagram-slide-title {
    display: none;
  }

  // Slider

  @include breakpoint(medium) {
    .ssw-slider {

      .ssw-viewport {
        margin: 0 40px;
      }

      .ssw-direction-nav a {
        background: none;
        color: #010101 !important;
        text-shadow: none;
      }
      .ssw-control-nav {
        display: none;
      }

    }
  }
  @media screen and (max-width: 640px) {
    .instagram-title {
      margin-left: 15px;
      margin-bottom: -10px;
    }
  }

  .instagram-link {
    text-decoration: none;
  }

}
