.section-media-wayfinder {

  @include breakpoint(small down) {
    margin: map-get($grid-margin-gutters, small) 0 !important;
  }

  .media-block-container {
    @include breakpoint(small down) {
      padding: 0 map-get($grid-margin-gutters, small);
    }
  }

  .media-block {
    position: relative;
    min-height: 350px;
    max-height: 350px;

    @include breakpoint(medium) {
      min-height: 440px;
      max-height: 4450px;
    }

    &-image {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;

      &.mobile-media-block-image {

        @include breakpoint(small down) {
          + .media-block-image {
            display: none;
          }
        }

        @include breakpoint(medium) {
          display: none;
        }
      }
    }

    &-content {
      position: relative;
      z-index: 1;
      background: white;
      padding: 15px 20px;


      @include breakpoint(medium) {
        padding: 20px 40px;
      }

      &-wrapper {
        padding: 30px;

        @include breakpoint(medium) {
          padding: 20px;
        }
      }
    }
  }
}
