@mixin position-sticky() {
  @include breakpoint(medium) {
    position: sticky;
    top: map_get($header-height, small) + $toolbar-height-for-small - 60px;

    @include breakpoint($nav-switch-breakpoint) {
      top: $toolbar-height-for-large + map_get($header-height, large) - 60px;
    }

    .has-promo-strip & {
      top: map_get($header-height, small) + $toolbar-height-for-small - 60px + $promo-strip-height;

      @include breakpoint($nav-switch-breakpoint) {
        top: $toolbar-height-for-large + map_get($header-height, large) - 60px  + $promo-strip-height;
      }
    }
  }
}

.section-product {

  // Master select
  .variant-id {
    display: none; // Hide this select from the end-user
  }

  &:not(.is-quickview) {
    .product-details {
      @include position-sticky();
    }
  }


  .product-details {
    @include breakpoint(small down) {
      margin-top: 20px;
    }

    .product-stickers {
      margin-bottom: 6px;
    }
  }

  .price-wrapper {
    font-weight: normal;
  }

  .price-compare {
    opacity: 0.5;
  }

  .after-pay-info {

    svg {
      display: inline;
      height: 1.2em;
      width: auto;
      vertical-align: middle;

      path {
        fill: $color-body-text;
      }
    }
  }

  .related-products {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: -10px;

    &__product {
      position: relative;
      width: 60px;
      height: 60px;
      margin-right: 10px;
      margin-bottom: 10px;
      text-decoration: none;
      //box-shadow: inset 0 0 0 1px $color-border;

      transition: box-shadow 200ms;


      &.current {
        box-shadow: 0 0 10px 3px $color-border;
      }

      &:not(.unavailable):not(.current) {
        cursor: pointer;

        &:hover {
          box-shadow: inset 0 0 0 3px $color-border;
        }
      }

      &.unavailable {
        opacity: 0.5;
      }

      &-image {
        position: absolute;
        top: 8px;
        left: 8px;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        object-fit: cover;
      }

      &.js-loading {

        &::before {
          content: '';
          display: block;
          position: absolute;
          border-top: 1px solid currentColor;
          border-bottom: 1px solid currentColor;
          right: 4px;
          left:4px;
          bottom: 4px;
          top: 4px;
          animation: loaderIndicator 1000ms infinite linear;
        }
      }
    }
  }

  .radio-select {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 1px;

    input[type="radio"] {
      position: absolute;
      visibility: hidden;
      left: -9999px;
      text-indent: -9999px;
      height: 0;

      + label {
        width: 46px;
        height: 46px;
        margin: 0 -1px -1px 0;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 0 0 1px $color-border;

        transition: color 200ms, background 200ms, box-shadow 200ms;
      }

      &:not(:disabled) {

        + label {
          cursor: pointer;

          &:hover {
            box-shadow: inset 0 0 0 3px $color-border;
          }
        }

        &:checked + label {
          background: $color-primary;
          color: white;
          box-shadow: none !important;
        }
      }

      &:disabled {
        + label {
          span {
            opacity: 0.2;
          }
        }
      }
    }
  }

  .icon-link {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    line-height: 1;
    transition: color 200ms;

    &:hover {
      color: $color-accent;
    }

    svg {
      width: 30px;
      margin-right: 6px;

      path {
        fill: currentColor;
      }
    }
  }

  .add-to-cart {
    &:not(.added) {
      svg {
        opacity: 0;
        transform: scale(0, 0);
      }
    }

    svg {
      transition: opacity 400ms, transform 400ms;
    }
  }

  .add-to-wishlist {

    &.shopify-wishlist-added {
      border-color: $color-accent;
      color: $color-accent;

      &:hover {
        border-color: $color-accent;
      }
    }
  }

  // Error Message
  .error-message {
    display: block;
    color: $color-form-error;

    &:not(.visible) {
      display: none;
    }
  }

  .grid-buttons {

    @include breakpoint(medium down) {
      .cell {
        + .cell {
          margin-top: 10px;
        }
      }
    }

    @include breakpoint(large) {
      margin-left: -5px;
      margin-right: -5px;
      width: calc(100% + 10px);

      .cell {
        margin-left: 5px;
        margin-right: 5px;
        width: calc(50% - 10px);
      }
    }
  }

  .rte {
    font-size: rem-calc(12px);
  }


  // Images
  .product-images {
    position: relative;

    @include breakpoint(medium) {
      padding-right: 20px;
    }

    @include breakpoint(large) {
      padding-right: 40px;

    }

    .product-stickers {
      position: absolute;
      left: 0;
      top: 0;

      @include breakpoint(medium) {
        display: none;
      }
    }
  }

  .glide {

    &__slide {
      img {
        width: 100%;
      }
    }
  }

  .video-wrapper {
    position: relative;

    video {
      display: block;
      width: 100%;
      height: auto;

    }
  }

  &:not(.is-quickview) {

    .glide {

      @include breakpoint(medium) {
        &__slides {
          margin: -10px;
          flex-wrap: wrap;
        }

        &__slide {
          padding: 10px;

          @include breakpoint(large) {
            width: 100%;
          }
        }

        &__bullets {
          display: none;
        }
      }
    }
  }

  // Product Thumbnails

  &:not(.is-quickview) {
    .product-thumbnails {
      @include position-sticky();
    }
  }

  .product-item-thumbnails {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }

  .product-item-thumbnail {
    text-decoration: none;
    cursor: pointer;
    width: 80px;

    + .product-item-thumbnail {
      margin-top: 10px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .video-wrapper {
      position: relative;

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        fill: white;
        width: 30px;
        height: 30px;
      }
    }
  }
}

// Size Guide Modal
.modal-size-guide {

  .modal-content {
    margin-top: 20px;
    margin-bottom: 20px;

    &-text {
      padding: 30px 20px 0;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    max-height: 70vh;
  }
}
