.section-shipping {

  .tabs-container {
    // First tabs
    > .tabs > .tabs-title {

      font-size: rem-calc(18);

      &.active {
        font-weight: bold;
      }

    }

  }

  .tabs {
    display: flex;
    flex-wrap: wrap;

    > .tabs-title {
      flex: 0 1 auto;
      position: relative;
      padding: 5px 10px;
      cursor: pointer;
      z-index: 1;
      display: inline-block;
      text-decoration: none;

      @include breakpoint(medium) {
        padding: 5px 20px;
      }

      &.active {

        &::before {
          content: '';
          z-index: -1;
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          height: 6px;
          width: 70px;
          background-color: $mid-blue;
          transform: translateY(-50%) scaleX(1);
          transition: transform 200ms;
          transform-origin: left;
          opacity: 0.6;
        }

      }
    }

  }

  .tabs-content {

    .tabs {
      @include breakpoint(medium) {
        padding: 0 20px 20px 20px;
      }

    }

    .tabs-panel:not(.active) {
      display: none;
    }


  }

}
