.section-text-seo {

  background: white;
  margin-top: -40px;

  .text-container {
    padding: 30px 0;

    @include breakpoint(medium) {
      padding: 70px 0;
    }
  }

  .seo_div {
    margin: 40px 0 15px 0;
    }

    .seo_text {
    margin: 0;
    }

    .seo_text p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
    }

    .seo_text a {
    color: #80878a;
    transition: 0.3s ease all;
    }

    .seo_text a:hover {
    color: #272b2c;
    }

    .seo_text strong {
    color: #000000;
  }

  @media screen and (max-width: 700px) {
    display: none;
  }

  #toggle_btn {
    cursor: pointer;
    text-decoration: underline;
    color: black;
  }

}
