.section-text-image {
  background: #D7DCE2;

  .cell {

    &-text-container {
      padding: 25px 0;

      @include breakpoint(medium) {
        padding: 60px 0;
      }

      @include breakpoint(large) {
        padding: 10px 0;
      }
    }

    &-image {
      position: relative;

      img {
        display: block;

      }
    }
  }



}
