.section_text {
    width: 1100px; 
    margin: 40px 10% 20px 10%;
}

.column_image {
    width: 200px; 
    height: 200px; 
    max-width: 100%;
}

@media only screen and (max-width: 640px) {
    .column_div {
        height: 300px;
    }
}

@media only screen and (min-width: 641px) {
    .column_div {
        height: 350px;
    }
}
