/**
 * Lambify | Built with Slate
 */
@import "~normalize.css/normalize";

// Settings
@import "./settings/variables";

// Tools
@import "./tools/mixins";
@import "./tools/functions";

// Vendor
@import "./settings/foundation-settings";
@import "./vendor/foundation-sites";

// Core
@import "./core/animations";
@import "./core/forms";
@import "./core/helpers";
@import "./core/layout";
@import "./core/media";
@import "./core/responsive-tables";
@import "./core/rte";
@import "./core/section";
@import "./core/typography";

// Components
@import "./components/buttons";

// Snippets
@import "./snippets/social-sharing";


.mh-100 {
  min-height: 100%;
}

.container-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}

#login-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.button-cancel {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 18px;
  cursor: pointer;

  svg {
    width: 1em;
    height: 1em;
  }
}
