.product-message-third {
  padding: 20px;
  background: #f9f1e9;
  margin-bottom: 20px;

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }

}

@media screen and (max-width: 640px) {
  .product-message-third {
    margin-top: 20px;
  }
}