// Social Icons
// -------------------------
$social-icons-size: 24px;
$social-icons-spacing: 8px;

.social-icons {
  list-style: none;
  // font-size: rem-calc($social-icons-size);
  height: 24px;
  padding: 0;
  margin: 0 (-($social-icons-spacing / 2));

  li {
    margin: 0 ($social-icons-spacing / 2);
    line-height: 0;
  }

  a {
    display: block;
    transition: color 200ms;

    &:hover {
      // color: $color-accent;
    }
  }

  svg {
    // width: 1em;
    // height: 1em;
  }
}
